<div ng-app="testimonator" ng-controller="testimonioController as testimonio" ng-form="testimonioForm" class="formulario-testimonio" ng-cloak>
    <h2>¡Gracias por elegirnos! Queremos saber cómo ha sido tu experiencia con nosotros.</h2>
    <span>¿Cual es su Nombre?</span>
    <input type="text" name="cliente" ng-model="testimonio.datos.cliente">
    <span>¿A que empresa representa?</span>
    <input type="text" name="empresa" ng-model="testimonio.datos.empresa">
    <span>Servicio adquirido:</span> <select ng-model="testimonio.datos.servicio" name="servicio">
        <option ng-repeat="servicio in [{nombre: 'alguno', id: '1'}]" ng-value="{{servicio.nombre}}">{{servicio.id}}</option>
    </select>
    <span>Califica tu experiencia con LiderLogo de 1 a 5 estrellas:</span>
    <div class="estrellas">
        <div ng-click="testimonio.datos.rating = 1" ng-class='{"estrella-llena": testimonio.datos.rating > 1}'></div><div ng-click="testimonio.datos.rating = 2"></div><div ng-click="testimonio.datos.rating = 3"></div><div ng-click="testimonio.datos.rating = 4"></div><div ng-click="testimonio.datos.rating = 5"></div>
    </div>
    <span>¿Cómo ha sido tu experiencia con LiderLogo?</span>
    <textarea type="text" name="testimonio" ng-model="testimonio.datos.testimonio"></textarea>
    <button>ENVIAR VALORACIÓN</button>
<div>
