.barra-gris-principal{
    
    background-color: #ececec;
}

.logo-principal{
    
    
    width: 100%;
}

.menu-principal img{
    
    
    vertical-align: middle;
    
}

.menu-principal ion-item:first-child{
    
    border-top: 2px solid rgb(219, 109, 109); 
    
    
}

.menu-principal ion-item:nth-child(2){
    
    border-top: 2px solid #db6d6d;
    border-bottom: 1px solid #db6d6d;
    
}